body {
  background: rgba(255, 255, 255, 0.9);
  color: #c82829;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 100px auto;
  text-align: center;
  position: relative; }

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav {
  position: relative;
  padding-top: 50px; }
  nav iframe {
    width: 90px !important; }
  nav .title {
    transition: 200ms;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    line-height: 25px;
    text-align: center; }
    body[data-word] nav .title {
      color: #ffdc18; }
    body[data-word="0"] nav .title {
      filter: hue-rotate(0deg);
      -webkit-filter: hue-rotate(0deg); }
    body[data-word="1"] nav .title {
      filter: hue-rotate(60deg);
      -webkit-filter: hue-rotate(60deg); }
    body[data-word="2"] nav .title {
      filter: hue-rotate(120deg);
      -webkit-filter: hue-rotate(120deg); }
    body[data-word="3"] nav .title {
      filter: hue-rotate(180deg);
      -webkit-filter: hue-rotate(180deg); }
    body[data-word="4"] nav .title {
      filter: hue-rotate(240deg);
      -webkit-filter: hue-rotate(240deg); }
    body[data-word="5"] nav .title {
      filter: hue-rotate(300deg);
      -webkit-filter: hue-rotate(300deg); }
  nav .trump-span {
    padding: 0 5px;
    font-weight: 700;
    transition: 500ms; }
    body[data-word] nav .trump-span {
      color: #ffdc18; }
    body[data-word="0"] nav .trump-span {
      filter: hue-rotate(0deg);
      -webkit-filter: hue-rotate(0deg); }
    body[data-word="1"] nav .trump-span {
      filter: hue-rotate(60deg);
      -webkit-filter: hue-rotate(60deg); }
    body[data-word="2"] nav .trump-span {
      filter: hue-rotate(120deg);
      -webkit-filter: hue-rotate(120deg); }
    body[data-word="3"] nav .trump-span {
      filter: hue-rotate(180deg);
      -webkit-filter: hue-rotate(180deg); }
    body[data-word="4"] nav .trump-span {
      filter: hue-rotate(240deg);
      -webkit-filter: hue-rotate(240deg); }
    body[data-word="5"] nav .trump-span {
      filter: hue-rotate(300deg);
      -webkit-filter: hue-rotate(300deg); }
  nav .info {
    transition: 200ms;
    outline: none; }

@keyframes trump-spin {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
    transform: scale(0) rotate(-160deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  80% {
    transform: scale(1.2) rotate(390deg); }
  100% {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
    transform: scale(1) rotate(360deg); } }

@keyframes trump-spin-hover {
  0% {
    transform: scale(1) rotate(360deg); }
  100% {
    transform: scale(1) rotate(360deg); } }
  nav .trump {
    width: 300px;
    animation-name: trump-spin;
    animation-duration: 1750ms;
    transition: 500ms; }
    nav .trump:hover {
      filter: hue-rotate(360deg);
      -webkit-filter: hue-rotate(360deg); }
    body[data-word="0"] nav .trump {
      filter: hue-rotate(0deg);
      -webkit-filter: hue-rotate(0deg); }
    body[data-word="1"] nav .trump {
      filter: hue-rotate(60deg);
      -webkit-filter: hue-rotate(60deg); }
    body[data-word="2"] nav .trump {
      filter: hue-rotate(120deg);
      -webkit-filter: hue-rotate(120deg); }
    body[data-word="3"] nav .trump {
      filter: hue-rotate(180deg);
      -webkit-filter: hue-rotate(180deg); }
    body[data-word="4"] nav .trump {
      filter: hue-rotate(240deg);
      -webkit-filter: hue-rotate(240deg); }
    body[data-word="5"] nav .trump {
      filter: hue-rotate(300deg);
      -webkit-filter: hue-rotate(300deg); }
  nav .intro span {
    padding: 0 5px; }
  nav .intro .bold {
    font-weight: 700; }
  nav .square {
    font-family: initial; }

main {
  display: inline-block;
  position: relative;
  width: 810px;
  text-align: left; }
  main section {
    text-align: left; }
    main section img.trump {
      max-width: 80%; }

@media (max-width: 850px) {
  main {
    max-width: 80%; }
  .title {
    font-size: 28px; }
  .hljs {
    font-size: 12px; }
  body.copy .title {
    font-size: 30px; }
  .text {
    padding: 10px;
    font-size: 12px;
    text-align: center; }
  .info {
    font-size: 12px; } }

@media (max-width: 400px) {
  .hljs {
    font-size: 10px; } }
